.pageAdminBase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.adminBaseLocationSubTitle {
    text-align: center;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: bold;
    color: black;
    margin: 20px 0px 0px 0px;
}

.adminBaseLocation,
.adminBaseEmployees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  margin: 20px 0px 20px 0px;
  box-shadow: 0px 0px 10px -3px black;
  border-radius: 16px;

  width: 60%;
}

.locationBaseCard,
.employeesBaseCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px 10px 10px 10px;
  margin: 20px 10px 20px 10px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px -3px black;
  border-radius: 16px;

  width: 150px;
}

.employeesBaseCard {
    margin: 20px 50px 20px 50px;

    width: 200px;
}

.locationCardImage,
.employeesCardImage {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 100%;

  width: 120px;
  height: 120px;
}

.imageData,
.imageEnployeesData {
  width: 65%;
}

.locationCardName {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 5px;
  margin: 5px 0px 10px 0px;
  padding: 2px 2px 2px 5px;

  height: 25px;
  width: 80%;
}

.nameData {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
}

.locationCardAction {
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -1px;

  width: 50%;
  height: 25px;
}

.locationCardAction:hover {
  height: 35px;
}

.locationCardEmployees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 10px 0px 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px 2px 2px 5px;

  width: 80%;
  height: 25px;
}

.locationCardEmployeesImage {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 25px;
}

.imageEmployeesData {
  width: 90%;
}

.employeeCardQR {
    margin: 10px 5px 10px 5px;

    width: 100%;
}